
  .burger div {
    width: 25px;
    height: 4px;

  
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
      @media(max-width: 991px) {
      width: 25px;
    height: 3px;
}
  }
  .burger {
    display: block;
       
  }

  .line1.true {
    
    transform: rotate(-45deg) translate(-4.65px, 8px);
    @media(max-width: 991px) {
    transform: rotate(-45deg) translate(-5px, 6px);
    }
  }
  .line2.true {
    opacity: 0;
    
  }
  .line3.true {
    
    transform: rotate(45deg) translate(-4.65px, -8px);
    @media(max-width: 991px) {
    transform: rotate(45deg) translate(-5px, -6px);
    } 
  }