.contact_form_container {
    display: grid;
    place-items: center;
    z-index: 4;
    &.true {
        z-index: -1;
    }
    
}
.contact_form {  
    width: 100%;
    margin: 0 auto;
    @media (min-width: 640px) and (max-width: 798px) {
        margin-top: 40px;
    }
}
.contact_field {
    display: flex;
    flex-direction: column;
    text-align: left;
     label {
        color:rgb(40, 179, 179);
    }
    &:after{
        content: "";
        display: block;
        position: relative;
        bottom: 24px;
        z-index: 10;
        left: 0;
        width: 100%;
        height: 2px;
        // transition: 0.7s;
        
        --angle: 0deg;
        border-bottom: 2px solid;
        border-image: linear-gradient(45deg, #236677, #1bb9ac, #88b4b4) 1;
        animation: 10s rotate linear infinite;
    
    }
}


.contact_field_content {
    outline: none;
    border: none;   
    color: rgba(245, 245, 245, 0.712);
    background: none;
    line-height: 1.2;
    cursor: text;
    height: 45px;
    font-size: 15px;
    line-height: 1.2;
    border-bottom: 2px solid #adadad;
    padding: 0.8rem 1.2rem;
    min-width: 60vw;
    // min-height: 100px;
    margin-bottom: 20px;
    transition: 0.9s;   
    &.true {
        min-width: 50vw;
    } 
    &:focus {
        --angle: 0deg;
        border-left: 2px solid ;
        border-image-slice: 1;
        border-image: linear-gradient(var(--angle),  #07c5c5, #504638, #3abed5) 1;
        transition: 1.9s;    
        animation: 10s rotate linear infinite;    
    }
}


.messageField {
    min-height: 25vh;
    resize: none;
    overflow-y: auto;
}

 
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

//   this unfortunately works only on chromium based browsers ie. Chrome, Edge
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }