
.toasts {
    position: absolute;
    top: -50px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.7s;
    &.true{
    right: 10px;
    top: -55px;
    transition: 0.7s;
    }
}

.toast {
    position: relative;
    right: 0px;
    color:rgb(15, 13, 10); 
    border-radius: 5px;
    padding: 1rem 1rem; 
    margin: 0.5rem;
    min-width: fit-content;
    z-index: 12;
    transition: ease-out 0.7s;
    &.none{
        opacity: 0;
        right: -100px;
        transition: ease-in 0.3s;
        @media(max-width: 390px) {
            right: 0px;
            
            }
    }
    &.success{
        background-color: rgb(57, 214, 84);
    }
    &.saved{
        background-color: rgb(42, 115, 211);
    }
    &.failure{
        background-color: rgb(214, 29, 29);
    }
    &.reset{
        background-color: rgb(196, 110, 39);
    }
  
}