
.contact_field_content:focus + .span_input2::after {
    content: "";
    display: block;
    position: relative;
    bottom: 22px;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 22px;
    background: linear-gradient(45deg, #35809e, #f3a931);
    transition: 0.9s;
    
    
}

//     @media (min-width: 1010px) and (max-width: 1127px) {
//         min-width: 500px;
//         }
//     @media (min-width: 887px) and (max-width: 1011px) {
//             min-width: 400px;
//             }
//     @media (min-width: 799px) and (max-width: 888px) {
//             min-width: 300px;
//             }
//     @media (min-width: 640px) and (max-width: 798px) {
//         min-width: 400px;
//         min-height: 40px;
//         line-height: 1;
//         margin-top: 10px;
//         }
    
//     @media (min-width: 390px) and (max-width: 639px) {  min-width: 350px; } 
// }